.custom-navbar {
  background-color: rgb(255, 153, 0);
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: rgb(53, 50, 50) !important;
  font-weight: 600;
}

.custom-navbar .nav-link:hover {
  color: red !important;
}
.custom-footer {
  background-color: rgb(255, 153, 0);
  color: black;
  padding: 20px;
  text-align: center;
}